*{margin:0px;padding:0px;}

body {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  background: #fff;
  font-size:14px;
  font-family: 'lucida grande', 'lucida sans unicode', lucida, helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
  width:400px;
}
.main{
  margin:2px;
  border:1px dotted #ddd;
  border-radius:4px;
  padding:0px 5px 10px;
  clear:both;
}
ul.content{
  margin-top:5px;
}
ul.content li{
  list-style-type:none;   
  padding:5px 5px;
  color: #999;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
ul.content li a{
  text-decoration:none;
  color:#444;
}
ul.content li a:visited{
  color:#999;
}
h3{
  border-bottom:1px solid #ddd;
}
ul.content li a:hover{
  color:#FF5E52;
}
.header{
  width:100%;
  clear:both;
  border-bottom: 1px solid #eee;
  margin:0px -15px;
  padding:0px 15px 0px 15px;
}
.header li.logo{
  float:right;
}
.header li{
  display: inline-block;
  padding: 10px;
  font-size: 14px;
  display: inline-block;
  color: #444;
  cursor:pointer;
}
.header li.current{   
  margin-bottom: -1px;
  border-bottom: 1px solid #555;
}
.header li:hover{
  background-color: #eee;
  color: #555;
}
small {
  color: #999;
  margin-right: 10px;
  float: left;
}
img{
  width:48px;
  height:15px;
}